<div class="text-center">
  <h1>Edit</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="mb-3">
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :introduce, 'Introduce' %>
        <%= f.text_field :introduce, class: 'form-control' %>
      </div>
 
      <div class="mb-3">
        <%= f.label :skill, 'Languages that can be used' %>
        <%= f.text_field :skill, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        Change your icon ️<a href="https://ja.gravatar.com/">Gravatar</a>
      </div>
      
      <%= f.submit 'Finish?', class: 'btn btn-primary w-100' %>
    <% end %>
  </div>
</div>